@charset "UTF-8";

@font-face {
  font-family: "UniversCE";
  src: url("../fonts/Univers CE 45 Light.eot");
  src: local("☺"), url("../fonts/Univers CE 45 Light.woff") format("woff"),
    url("fonts/Univers CE 45 Light.ttf") format("truetype"), url("fonts/Univers CE 45 Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeWP";
  src: url("../fonts/ofont.ru_Segoe WP.eot");
  src: local("☺"), url("../fonts/ofont.ru_Segoe WP.woff") format("woff"),
    url("../fonts/ofont.ru_Segoe WP.ttf") format("truetype"), url("../fonts/ofont.ru_Segoe WP.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MrsEavesItalic";
  src: url("../fonts/MrsEavesOT-Italic.eot");
  src: local("☺"), url("../fonts/MrsEavesOT-Italic.woff") format("woff"),
    url("fonts/MrsEavesOT-Italic.ttf") format("truetype"), url("fonts/MrsEavesOT-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 4000px;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-width: 1280px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
header {
  height: 495px;
  background: -webkit-gradient(linear, left bottom, left top, from(#36555a), to(#28212d));
  background: -webkit-linear-gradient(bottom, #36555a, #28212d);
  background: -o-linear-gradient(bottom, #36555a, #28212d);
  background: linear-gradient(to top, #36555a, #28212d);
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 174px 50px 219px;
}

.head__logo {
  padding-top: 100px;
  opacity: 0.68;
  color: #ffffff;
  font-family: "Mrs Eaves Italic";
  font-size: 119px;
  font-weight: 400;
  line-height: 32.99px;
}

.head__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__menu-item {
  padding-top: 55px;
  width: 130px;
  color: #ffffff;
  font-family: "SegoeWP";
  font-size: 23px;
  font-weight: 300;
}

.head__menu-item:hover {
  color: #000;
}

#slider {
  width: 400px;
  height: 400px;
  margin: 0 0 0 55px;
}

.slider__img {
  top: 0;
  left: 0;
  width: 344px;
  height: 345px;
}

.img_item {
  display: block;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.slider__button {
  cursor: pointer;
  position: absolute;
  font-size: 50%;
  color: #ffffff;
  top: 40%;
  z-index: 99;
}

#slider-left {
  width: 40px;
  height: 80px;
  opacity: 0.1;
}

#slider-right {
  width: 40px;
  height: 80px;
  opacity: 0.1;
}

#button_three {
  margin-left: 320px;
  display: flex;
  justify-content: center;
  top: -20px;
}

.button_item {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.new_class {
  background-color: black;
}

#slider-right:hover {
  opacity: 1;
}

#slider-left:hover {
  opacity: 1;
}

nav ul {
  list-style: none;
  display: flex;
  float: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #5c5b5b;
  font-family: "SegoeWP";
  font-size: 27px;
  font-weight: 300;
}

nav > ul > li {
  padding-top: 0px;
}

nav ul::after {
  content: "";
  display: block;
}

nav ul li a {
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  color: #fff;
  width: 80px;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
}

.main__row {
  margin: 120px 174px 0px 180px;
}

.lilist {
  max-width: 700px;
  height: 860px;
  border: #e6e6e6 2px solid;
  color: #818181;
  padding: 0px 71px 68px 54px;
  font-family: "UniversCE";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.ullist {
  margin-top: 0px;
  position: relative;
  right: 160px;
  width: 1028px;
}

.list {
  width: 150px;
  text-align: center;
  height: 250px;
}

.pUpper {
  color: #4f4f4f;
  font-family: "SegoePN";
  font-size: 39px;
  font-weight: 300;
  padding: 10px 0px 28px 0px;
}

.list:hover {
  border: #e6e6e6 2px solid;
  border-bottom: none;
  color: #5f5f5f;
  font-family: "SegoeWP";
  font-size: 30px;
  font-weight: 500;
}

.hardBlock {
  width: 180px;
}

.mainImg {
  padding-top: 60px;
  margin-left: -60px;
}

.subslider {
  width: 360px;
  height: 184px;
}

.subslider__text {
  font-family: "SegoeWP";
  font-weight: 300;
  font-size: 45px;
  color: #ffffff;
}

.subsliderup {
  padding-bottom: 10px;
  color: #ffffff;
  font-family: "SegoeWP";
  font-size: 48px;
  font-weight: 800;
}

.subslider__button {
  text-align: center;
  color: #ffffff;
  font-family: "SegoeWP";
  font-size: 23px;
  font-weight: 300;
  width: 138px;
  height: 38px;
  border: 4px solid rgba(0, 0, 0, 0.37);
  background-color: #12b367;
  opacity: 0.42;
}

.subslider__align {
  padding: 28px 0px 0px 0px;
  padding-bottom: 15px;
  width: 138px;
  height: 38px;
}
.slider__row {
  align-items: center;
  margin-top: 80px;
  display: flex;
  flex: 0 0 33.333%;
  justify-content: space-between;
  height: 345px;
  width: 1200px;
}
